<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %></title>
    <%- include('partials/head') %>
</head>
<body>

    <%- include('partials/navigation') %>
<br><br><br><br><br>
     <div class="container-text">
        <h1 class="SobreMi"> Sobre mi </h1>
        <p class="texto"> ¡Hola! Soy un entusiasta del deporte y un apasionado por la tecnología. Como programador, me especializo en una variedad de lenguajes, incluyendo JavaScript, Python, HTML, CSS, y algunas tecnologías de desarrollo web como Express, Bootstrap y Node.js. Actualmente, estoy dedicando mi tiempo a estudiar Ingeniería en Software en la Universidad Estatal de Milagro, donde estoy ampliando mis conocimientos y habilidades para convertirme en un desarrollador aún más competente.

Con solo 20 años, soy un joven originario de Ecuador, un país que amo profundamente. Siempre estoy ansioso por aprender y crecer tanto personal como profesionalmente. La combinación de mi pasión por el deporte y mi dedicación a la programación refleja mi naturaleza activa y curiosa. Estoy emocionado por lo que el futuro tiene reservado para mí en el emocionante mundo de la tecnología, y estoy comprometido a seguir aprendiendo y mejorando en todo lo que hago. </p>

    </div>
    <%- include('partials/footer') %>
</body>
</html>