<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> My First App</title>
    <%- include('partials/head') %>
</head>
<body>

    <%- include('partials/navigation') %>

<br><br><br><br><br>
    <header class="container">
        <img src="https://avatars.githubusercontent.com/u/132949965?v=4" alt="" class="w-20">
        <h1 class="nombre"> SnazzyC </h1>
        <br>
        <a href="/about" class="button"> About me </a>
    </header>


    <%- include('partials/footer') %>
</body>
</html>

